:host {
  display: block;
  font-family: sans-serif;
}

p {
  text-align: center;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}
