<mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
  <div>
    <h1>Welcome to sales-rep-dashboard!</h1>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="menu-items">
      <li><a [routerLink]="['/applications']">Apply</a></li>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/applications']">Apply</button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
